{% extends "base.html" %}

{% block content %}
    {% for mess in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" data-dismiss="alert" aria-label="Close" class="fade close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ mess }}
        </div>
    {% endfor %}
    <br>
    <div class="jumbotron" style="margin-right: 5%; margin-left: 5%">
        <h1 align="center">Welcome to the Cleanup Coordinator!</h1>
    </div>
{% endblock %}