{% extends "base.html" %}
{% block content %}
    <br>
    <div class="container" align="center">
        <h1>Review submission for {{ member.first + ' ' + member.last }}</h1>
        {% for i in enumerated %}
            <img src="../static/uploaded_hours/{{ uploads[i] }}" class="d-block w-25" alt="...">
        {% endfor %}
    </div>
    <br>
    <form method="post" action="{{ url_for('review_main') }}">
        <input class="btn btn-secondary" type="submit" name="approve{{ sub.id }}" value="Approve">
    </form>
    <br>
    <form method="post" action="{{ url_for('review_main') }}">
        <input class="btn btn-secondary" type="submit" name="deny___{{ sub.id }}" value="Deny">
    </form>
{% endblock %}